.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
.login > img {
   
    height: 200px;
}
.login >a{
    background-color: #1db954;
    padding: 20px;
    font-weight: 800;
    border-radius: 99px;
    color: white;
    text-decoration: none;
}